osp/__pycache__/utils.cpython-38.pyc
quantum_espresso.egg-info/dependency_links.txt
quantum_espresso.egg-info/entry_points.txt
quantum_espresso.egg-info/PKG-INFO
quantum_espresso.egg-info/SOURCES.txt
quantum_espresso.egg-info/top_level.txt
osp/wrappers/quantumespresso/__pycache__/__init__.cpython-38.pyc
basic.save/charge-density.dat
basic.save/data-file-schema.xml
basic.save/paw.txt
basic.save/Si.pbe-n-kjpaw_psl.1.0.0.UPF
basic.save/wfc1.dat
basic.save/wfc2.dat
basic.save/wfc3.dat
basic.save/wfc4.dat
basic.save/wfc5.dat
basic.save/wfc6.dat
basic.save/wfc7.dat
basic.save/wfc8.dat
basic.save/wfc9.dat
basic.save/wfc10.dat
basic.save/wfc11.dat
basic.save/wfc12.dat
basic.save/wfc13.dat
basic.save/wfc14.dat
basic.save/wfc15.dat
basic.save/wfc16.dat
basic.save/wfc17.dat
basic.save/wfc18.dat
basic.save/wfc19.dat
basic.save/wfc20.dat
osp/wrappers/quantumespresso/__pycache__/qe_session.cpython-38.pyc
test.txt
