osp/__pycache__/utils.cpython-38.pyc
quantum_espresso.egg-info/dependency_links.txt
quantum_espresso.egg-info/entry_points.txt
quantum_espresso.egg-info/PKG-INFO
quantum_espresso.egg-info/SOURCES.txt
quantum_espresso.egg-info/top_level.txt
osp/wrappers/quantumespresso/__pycache__/__init__.cpython-38.pyc
basic.save/charge-density.dat
basic.save/data-file-schema.xml
basic.save/paw.txt
basic.save/Si.pbe-n-kjpaw_psl.1.0.0.UPF
basic.save/wfc1.dat
basic.save/wfc2.dat
basic.save/wfc3.dat
basic.save/wfc4.dat
basic.save/wfc5.dat
basic.save/wfc6.dat
basic.save/wfc7.dat
basic.save/wfc8.dat
basic.save/wfc9.dat
basic.save/wfc10.dat
basic.save/wfc11.dat
basic.save/wfc12.dat
basic.save/wfc13.dat
basic.save/wfc14.dat
basic.save/wfc15.dat
basic.save/wfc16.dat
basic.save/wfc17.dat
basic.save/wfc18.dat
basic.save/wfc19.dat
basic.save/wfc20.dat
osp/wrappers/quantumespresso/__pycache__/qe_session.cpython-38.pyc
test.txt
pwscf.save/wfc1.dat
pwscf.save/wfc2.dat
pwscf.save/wfc3.dat
pwscf.save/wfc4.dat
pwscf.save/wfc5.dat
pwscf.save/wfc6.dat
pwscf.save/wfc7.dat
pwscf.save/wfc8.dat
pwscf.save/wfc9.dat
pwscf.save/wfc10.dat
pwscf.save/wfc11.dat
pwscf.save/wfc12.dat
pwscf.save/wfc13.dat
pwscf.save/wfc14.dat
pwscf.save/wfc15.dat
pwscf.save/wfc16.dat
pwscf.save/wfc17.dat
pwscf.save/wfc18.dat
pwscf.save/wfc19.dat
pwscf.save/wfc20.dat
osp/wrappers/quantumespresso/__pycache__/qe_engine.cpython-38.pyc
osp/wrappers/quantumespresso/__pycache__/qe_utils.cpython-38.pyc
osp/wrappers/quantumespresso/__pycache__/qe_engine.cpython-38.pyc
osp/wrappers/quantumespresso/__pycache__/qe_utils.cpython-38.pyc
basic.xml
pwscf.xml
pwscf.save/paw.txt
pwscf.save/charge-density.dat
pwscf.save/data-file-schema.xml
pwscf.save/Si.pbe-n-kjpaw_psl.1.0.0.UPF
osp/wrappers/quantumespresso/__pycache__/qe_engine.cpython-38.pyc
osp/wrappers/quantumespresso/__pycache__/qe_utils.cpython-38.pyc
basic.xml
FeAl0.out
basicSiCrystal.out
FeAl2.out
basicSiCrystal.out
examples/from osp.core import Parser.py
pwscf.wfc1
si.bands.dat
si.bands.dat.gnu
si.bands.dat.rap
si.bands.in
si.bands.out
Si.pbe-n-kjpaw_psl.1.0.0.UPF
si.pwbands.in
si.pwbands.out
si.pwscf.in
si.pwscf.out
si.wfc1
si.xml
si.save/charge-density.dat
si.save/data-file-schema.xml
si.save/paw.txt
si.save/wfc1.dat
si.save/wfc2.dat
si.save/wfc3.dat
si.save/wfc4.dat
si.save/wfc5.dat
si.save/wfc6.dat
si.save/wfc7.dat
si.save/wfc8.dat
si.save/wfc9.dat
si.save/wfc10.dat
si.save/wfc11.dat
si.save/wfc12.dat
si.save/wfc13.dat
si.save/wfc14.dat
si.save/wfc15.dat
si.save/wfc16.dat
si.save/wfc17.dat
si.save/wfc18.dat
si.save/wfc19.dat
si.save/wfc20.dat
osp/wrappers/__pycache__/__init__.cpython-38.pyc
osp/__pycache__/__init__.cpython-38.pyc
dist/quantum_espresso-0.1-py3.8.egg
build/lib/tests/__init__.py
build/lib/osp/wrappers/quantumespresso/qe_utils.py
build/lib/osp/wrappers/quantumespresso/qe_session.py
build/lib/osp/wrappers/quantumespresso/qe_engine.py
build/lib/osp/wrappers/quantumespresso/__init__.py
build/lib/osp/wrappers/__init__.py
build/lib/osp/__init__.py
si.pwrelax.in
si.pwrelax.out
si.dos.in
si.dos.out
si.pwnscf.out
si.pwnscf.in
si.pp.xsf
si.pp9.in
si.pp9.out
si.pp9.txt
FeAlevin.txt
fealevoutpexpect.txt
fealevoutpexpect.txt.xml
input_tmp.in
si.ev1.in
si.ev1.out
si.ev1.out.xml
